/* Importing fonts used to style page. */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Fredoka+One&family=Yanone+Kaffeesatz:wght@200&display=swap');

/* Changing box-sizing model to alternate model. */
html {
    box-sizing: border-box;
}

/* Background img, main font "Amatic SC", sets page height to 100vh. */
body {
    background-image: url(./img/pink.jpg);
    font-family: 'Amatic SC', cursive;
    color: #171717;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* IMG & Style IDs */

#deskimg {
    width: 400px;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, 
    inset 0px 10px 27px -8px #141414, 
    inset 0px -10px 27px -8px #A31925, 1px 21px 23px 1px rgba(23,23,23,0.72); 
    /*///////*/
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, 
    inset 0px -10px 27px -8px #A31925, 1px 21px 23px 1px rgba(23,23,23,0.72);
}

#introheader {
    background-color: #ffffff;
    border: 4px dotted #171717;
    padding: 16px;
}

/* MAIN PAGE/CLASSES: BEGINNING */ 

/* Style class for navigation bar located at very top of website. */
.navbar {
    background-color: #ffffff;
    border: 4px dotted #171717;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 8px 0 8px 0;
    margin-bottom: 32px;
}

/* Sets header logos width only. */
.logo {
    width: 116px;
}

/* Style class for header links only. */
.links {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

/* Flex Container for Intro Box */
.introcontain {
    display: flex;
    background-color: #ff8cb6;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 36px;
}

.intro1 {
    display: flex;
    flex-direction: column;
}

.introp {
    width: 200px;
}

.intro2 {
    display: flex;
}

/* Style class for h3 element within content class. One of the main classes. */
.content, h3 {
    text-align: center;
    flex-grow: 1;
}

.itembox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    margin-top: 5%;
    padding-bottom: 7%;
}

.item {
    background-color: #ffffff;
    border: 4px dotted #171717;
    border-radius: 50px;
    display: flex;
    padding: 16px;
}

.item, img {
    width: 116px;
    display: flex;
    align-items: center;
}

.quote {
    background-color: #ff8cb6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    gap: 8px;
    flex-shrink: 0;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 32px;
}

.ctacontainer {
    background-color: #ffffff;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px;
}

.heading {
    flex: 1;
    align-items: center;
}

/* MAIN PAGE: END */ 

/* Element Styles !ONLY! */

footer {
    flex-shrink: 0;
    flex-direction: column;
    text-align: center;
    padding-bottom: 16px;
}

/* Main Headings Font */
h1 ,h2, h3, h4, h5 {
    font-family: 'Bebas Neue', cursive;
}


/* Resets default link margin & padding due to list dots. Also sets flex display and 16px gap. */
ul {
    padding: 0;
    margin: 0 16px;
    display: flex;
    gap: 16px;
}

/* Gets rid of list dots. */
li {
    list-style: none;
}

/* Gets rid of link underline, set link color to black. */
a {
    text-decoration: none;
    color: #171717;
}

/* Anchor link (HEADER LINKS ONLY): HOVER Style */

.hover:hover {
    text-decoration: none;
    background-color: #171717;
    color: #ffffff;
}

button {

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    color: #171717;
    background-color: #ffffff;
    border: 2px solid #ff8cb6;
    border-radius: 2px;
    padding: 8px 8px 8px 8px;
    margin-left: 16px;
}